/* Background */

body {

    background-image: url("../images/friends.png");

    

    font-family: 'Chewy', cursive;






}

h1 {

    
    font-size: 75px;

    color: yellow;
    

}

#time-remaining-label,
#time-remaining,
#seconds {

    font-size: 50px;
}

.row

 {
    
    font-size: 25px;

    color: green;
}

button {

    width: 100px;
    height: 50px;
    font-size: 20px;
}

